---
layout: default
title: 文本
---

<ul class="posts">
  {% assign items = site.data.text %}
  {% for item in items %}
    {% assign published = item.date %}
    <li>
      <div class="post-list">
        {% if published %}
          <span class="post-time">
            {{ item.date | date:"%F" }}
          </span>
          <a class="post-url" href="/data/text/{{item.name}}.html">{{item.title}}</a>
        {% else %}
          <span class="post-time">
            即将发布
          </span>
          <a class="post-url">{{item.title}}</a>
        {% endif %}

        {% for tag in item.tags %}
          <span class="post-tag"> {{ tag }} </span>
        {% endfor %}
      </div>
    </li>
  {% endfor %}
</ul>
