<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/font.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/print.css" media="print" />
    <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
    <title>{{ site.name }} {{ page.title | prepend:"- " }}</title>
  </head>

  <body>

    <header>
      <div class="inner">
        <h1>{{site.name}}</h1>
        <h2>{{site.desc}}</h2>
        <nav>
          <a href="/">首页</a>
          <a href="/data/text/">文本</a>
          <a href="/data/image/">图片</a>
          <a href="/data/video/">视频</a>
          <a href="/blog/">博客</a>
          <a href="/about/">关于</a>
        </nav>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <aside id="sidebar">

          <h3>热门资源</h3>
          <ul>
            {% for item in site.data.text %}
              {% if item.hot %}
              <li><a href="/data/text/{{item.name}}.html">{{item.title}}</a></li>
              {% endif %}
            {% endfor %}
          </ul>

          <h3>最新发布</h3>
          <ul>
              空
          </ul>

          <h3>强烈推荐</h3>
          <ul>
              空
          </ul>

        </aside>

        <section id="main-content">
          {{ content }}
        </section>
      </div>
    </div>

    <footer>
      <p>Copyright 2014 © DataGeek. All Rights Reserved.</p>
      <p>数据极客 版权所有</p>
      <p>Updated @{{ site.time | date: "%Y-%m-%d %H:%M:%S" }}</p>
    </footer>

    {% include analytics %}

  </body>
</html>
