---
layout: default
---

<div class="post">

  <h2 id="post-title">{{ page.title }}</h2>

  <table class="kv">

    <tr>
      <td>日期</td>
      <td>
        <span>{{ page.date | date_to_xmlschema }}</span>
      </td>
    </tr>

    {% if page.tags.size > 0 %}
      <tr>
        <td>标签</td>
        <td>
          {% for tag in page.tags %}
            <span class="post-tag"> {{ tag }} </span>
          {% endfor %}
        </td>
      </tr>
    {% endif %}

  </table>

  {{ content }}

</div>

{% include disqus %}

