---
layout: post
---

<div id="text">

  {% if page.desc %}
    <h3>描述</h3>
    <p>{{ page.desc }}</p>
  {% endif %}

  <h3>信息</h3>
  <table class="kv">
    {% for kv in page.info %}
      <tr>
        {% assign k = kv[0] %}
        {% assign v = kv[1] %}
        {% if site.data.dict contains k %}
          <td>{{ site.data.dict[k] }}</td>
        {% else %}
          <td>{{ k }}</td>
        {% endif %}
        <td>{{ v }}</td>
      </tr>
    {% endfor %}
  </table>

  <h3>字段</h3>
  <table class="kv">
    {% for kv in page.fields %}
      <tr>
        <td>{{ kv[0] }}</td>
        <td>{{ kv[1] }}</td>
      </tr>
    {% endfor %}
  </table>

  <h3>示例</h3>
  {{ content }}

  <h3>下载</h3>
  <ul>
    {% if page.files.size > 0 %}
      {% for link in page.files %}
        {% assign kv = link | split:"#" %}
        {% assign url = kv[0] %}
        {% if kv.size == 2 %}
          {% assign code = kv[1] %}
        {% else %}
          {% assign code = "收费" %}
        {% endif %}
        <li><a href="{{url}}" title="提取码: {{code}}">{{kv[0]}}</a></li>
      {% endfor %}
    {% else %}
      <li>资源上传中...</li>
    {% endif %}
  </ul>

  <h3>来源</h3>
  <ul>
    {% for ref in page.refs %}
      <li><a href="{{ref}}">{{ref}}</a></li>
    {% endfor %}
  </ul>

</div>

